.title {
    color: white;
    font-size: xx-large;
    /*margin-top: 100px;*/
    margin: 0 auto;
    padding: 10px;
}

.avaAndName {
    display: flex;
    margin-right: 10px;
}

.sidebar {
    grid-area: s;
    background-color: lightskyblue;
    padding: 15px;
    padding-top: 0;
    margin: 0;
}

.name {
    color: white;
    font-size: smaller;
    margin-right: 10px;

}

.ava {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
